@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=fallback");

.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}

body {
  background-color: #5f21b7;
}

#detailsContainer {
  font-family: Montserrat;
}

#detailsContainer h1 {
  font-weight: 700;
}
